In [130]:
# Import Dependencies
import pandas as pd
from pathlib import Path
from datetime import datetime, timedelta

In [131]:
# Create reference to CSV file
csv_path = Path("Walmart_Store_sales.csv")
df = pd.read_csv(csv_path)
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [132]:
# check the data types of all columns in df
df.dtypes

Store             int64
Date             object
Weekly_Sales    float64
Holiday_Flag      int64
Temperature     float64
Fuel_Price      float64
CPI             float64
Unemployment    float64
dtype: object

In [133]:
df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%Y')
df.dtypes

Store                    int64
Date            datetime64[ns]
Weekly_Sales           float64
Holiday_Flag             int64
Temperature            float64
Fuel_Price             float64
CPI                    float64
Unemployment           float64
dtype: object

In [134]:
# # Filter rows where 'column_name' equals 'desired_value'
# holidays = '1'
# holidays_only = df[df['Holiday_Flag'] == 1]
# holidays_only.head(11)

In [135]:
# List of holidays
holidays = [
    ("2010-01-01", "New Year's Day"),
    ("2010-02-14", "Valentine's Day"),
    ("2010-04-04", "Easter"),
    ("2010-07-04", "Independence Day"),
    ("2010-10-31", "Halloween"),
    ("2010-11-25", "Thanksgiving Day"),
    ("2010-12-25", "Christmas Day"),
    ("2011-01-01", "New Year's Day"),
    ("2011-02-14", "Valentine's Day"),
    ("2011-04-24", "Easter"),
    ("2011-07-04", "Independence Day"),
    ("2011-10-31", "Halloween"),
    ("2011-11-24", "Thanksgiving Day"),
    ("2011-12-25", "Christmas Day"),
    ("2012-01-01", "New Year's Day"),
    ("2012-02-14", "Valentine's Day"),
    ("2012-04-08", "Easter"),
    ("2012-07-04", "Independence Day"),
    ("2012-10-31", "Halloween"),
    ("2012-11-22", "Thanksgiving Day"),
    ("2012-12-25", "Christmas Day"),
]

def get_holiday_name(week_start, week_end):
    for holiday_date, holiday_name in holidays:
        holiday_date = pd.to_datetime(holiday_date, format='%Y-%m-%d')
        if week_start <= holiday_date <= week_end:
            return holiday_name
    return None

# Create a new column 'Holiday_Name' to store the holiday names for weeks with holidays
df['Week_Start'] = df['Date'] - pd.to_timedelta(df['Date'].dt.dayofweek, unit='D')
df['Week_End'] = df['Week_Start'] + pd.DateOffset(weeks=1)
df['Holiday_Name'] = df.apply(lambda row: get_holiday_name(row['Week_Start'], row['Week_End']), axis=1)

# Print the DataFrame to see the 'Holiday_Name' column
df.head(50)

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Week_Start,Week_End,Holiday_Name
0,1,2010-02-05,1643690.90,0,42.31,2.572,211.096358,8.106,2010-02-01,2010-02-08,None
1,1,2010-02-12,1641957.44,1,38.51,2.548,211.242170,8.106,2010-02-08,2010-02-15,Valentine's Day
2,1,2010-02-19,1611968.17,0,39.93,2.514,211.289143,8.106,2010-02-15,2010-02-22,None
3,1,2010-02-26,1409727.59,0,46.63,2.561,211.319643,8.106,2010-02-22,2010-03-01,None
4,1,2010-03-05,1554806.68,0,46.50,2.625,211.350143,8.106,2010-03-01,2010-03-08,None
5,1,2010-03-12,1439541.59,0,57.79,2.667,211.380643,8.106,2010-03-08,2010-03-15,None
6,1,2010-03-19,1472515.79,0,54.58,2.720,211.215635,8.106,2010-03-15,2010-03-22,None
7,1,2010-03-26,1404429.92,0,51.45,2.732,211.018042,8.106,2010-03-22,2010-03-29,None
8,1,2010-04-02,1594968.28,0,62.27,2.719,210.820450,7.808,2010-03-29,2010-04-05,Easter
9,1,2010-04-09,1545418.53,0,65.86,2.770,210.622857,7.808,2010-04-05,2010-04-12,None
10,1,2010-04-16,1466058.28,0,66.32,2.808,210.488700,7.808,2010-04-12,2010-04-19,None
11,1,2010-04-23,1391256.12,0,64.84,2.795,210.439123,7.808,2010-04-19,2010-04-26,None
12,1,2010-04-30,1425100.71,0,67.41,2.780,210.389546,7.808,2010-04-26,2010-05-03,None
13,1,2010-05-07,1603955.12,0,72.55,2.835,210.339968,7.808,2010-05-03,2010-05-10,None
14,1,2010-05-14,1494251.50,0,74.78,2.854,210.337426,7.808,2010-05-10,2010-05-17,None
15,1,2010-05-21,1399662.07,0,76.44,2.826,210.617093,7.808,2010-05-17,2010-05-24,None
16,1,2010-05-28,1432069.95,0,80.44,2.759,210.896761,7.808,2010-05-24,2010-05-31,None
17,1,2010-06-04,1615524.71,0,80.69,2.705,211.176428,7.808,2010-05-31,2010-06-07,None
18,1,2010-06-11,1542561.09,0,80.43,2.668,211.456095,7.808,2010-06-07,2010-06-14,None
19,1,2010-06-18,1503284.06,0,84.11,2.637,211.453772,7.808,2010-06-14,2010-06-21,None
20,1,2010-06-25,1422711.60,0,84.34,2.653,211.338653,7.808,2010-06-21,2010-06-28,None
21,1,2010-07-02,1492418.14,0,80.91,2.669,211.223533,7.787,2010-06-28,2010-07-05,Independence Day
22,1,2010-07-09,1546074.18,0,80.48,2.642,211.108414,7.787,2010-07-05,2010-07-12,None
23,1,2010-07-16,1448938.92,0,83.15,2.623,211.100385,7.787,2010-07-12,2010-07-19,None
24,1,2010-07-23,1385065.20,0,83.36,2.608,211.235144,7.787,2010-07-19,2010-07-26,None
25,1,2010-07-30,1371986.60,0,81.84,2.640,211.369903,7.787,2010-07-26,2010-08-02,None
26,1,2010-08-06,1605491.78,0,87.16,2.627,211.504662,7.787,2010-08-02,2010-08-09,None
27,1,2010-08-13,1508237.76,0,87.00,2.692,211.639421,7.787,2010-08-09,2010-08-16,None
28,1,2010-08-20,1513080.49,0,86.65,2.664,211.603363,7.787,2010-08-16,2010-08-23,None
29,1,2010-08-27,1449142.92,0,85.22,2.619,211.567306,7.787,2010-08-23,2010-08-30,None
30,1,2010-09-03,1540163.53,0,81.21,2.577,211.531248,7.787,2010-08-30,2010-09-06,None
31,1,2010-09-10,1507460.69,1,78.69,2.565,211.495190,7.787,2010-09-06,2010-09-13,None
32,1,2010-09-17,1430378.67,0,82.11,2.582,211.522460,7.787,2010-09-13,2010-09-20,None
33,1,2010-09-24,1351791.03,0,80.94,2.624,211.597225,7.787,2010-09-20,2010-09-27,None
34,1,2010-10-01,1453329.50,0,71.89,2.603,211.671989,7.838,2010-09-27,2010-10-04,None
35,1,2010-10-08,1508239.93,0,63.93,2.633,211.746754,7.838,2010-10-04,2010-10-11,None
36,1,2010-10-15,1459409.10,0,67.18,2.720,211.813744,7.838,2010-10-11,2010-10-18,None
37,1,2010-10-22,1345454.00,0,69.86,2.725,211.861294,7.838,2010-10-18,2010-10-25,None
38,1,2010-10-29,1384209.22,0,69.64,2.716,211.908844,7.838,2010-10-25,2010-11-01,Halloween
39,1,2010-11-05,1551659.28,0,58.74,2.689,211.956394,7.838,2010-11-01,2010-11-08,None
40,1,2010-11-12,1494479.49,0,59.61,2.728,212.003944,7.838,2010-11-08,2010-11-15,None
41,1,2010-11-19,1483784.18,0,51.41,2.771,211.889674,7.838,2010-11-15,2010-11-22,None
42,1,2010-11-26,1955624.11,1,64.52,2.735,211.748433,7.838,2010-11-22,2010-11-29,Thanksgiving Day
43,1,2010-12-03,1548033.78,0,49.27,2.708,211.607193,7.838,2010-11-29,2010-12-06,None
44,1,2010-12-10,1682614.26,0,46.33,2.843,211.465953,7.838,2010-12-06,2010-12-13,None
45,1,2010-12-17,1891034.93,0,49.84,2.869,211.405312,7.838,2010-12-13,2010-12-20,None
46,1,2010-12-24,2387950.20,0,52.33,2.886,211.405122,7.838,2010-12-20,2010-12-27,Christmas Day
47,1,2010-12-31,1367320.01,1,48.43,2.943,211.404932,7.838,2010-12-27,2011-01-03,New Year's Day
48,1,2011-01-07,1444732.28,0,48.27,2.976,211.404742,7.742,2011-01-03,2011-01-10,None
49,1,2011-01-14,1391013.96,0,35.40,2.983,211.457411,7.742,2011-01-10,2011-01-17,None

In [136]:
df.drop(columns=['Week_Start', 'Week_End'], inplace=True)
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Holiday_Name
0,1,2010-02-05,1643690.90,0,42.31,2.572,211.096358,8.106,None
1,1,2010-02-12,1641957.44,1,38.51,2.548,211.242170,8.106,Valentine's Day
2,1,2010-02-19,1611968.17,0,39.93,2.514,211.289143,8.106,None
3,1,2010-02-26,1409727.59,0,46.63,2.561,211.319643,8.106,None
4,1,2010-03-05,1554806.68,0,46.50,2.625,211.350143,8.106,None

In [137]:
df.to_csv('C:/Users/aliac/HOMEWORK/Project-3/WMdata_with_holidays.csv')